body {
    font-family: sans-serif;
}

.box {
}

.node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.link {
    fill: none;
    stroke: #024;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
