body {
    font-family: sans-serif;
}

.node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.link {
    fill: none;
    stroke: #024;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.grid .tick {
            stroke: lightgrey;
            opacity: 0.7;
}

.grid path {
    display: node;
}

.blueline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.orangeline {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
}

.content{
    width: 960px;
    margin:0 auto;
}
#lineChart {
    display: table-cell;
}

#choroplethMap {
    float: right;
    display: table-cell;
}
